# Ignora file di configurazione con credenziali
.env

# Ignora cartella sessions e assets
/sessions/
/sessions/*
/assets/
/assets/*

# Ignora file binari compilati
/whatsappbot
/main
*.exe
*.dll
*.so
*.dylib

# Ignora file temporanei
*.log
*.tmp

# Ignora directory e file specifici dell'ambiente di sviluppo
/vendor/
/Godeps/
.DS_Store
.idea/
.vscode/
*.swp
*.swo